body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}


* {
    box-sizing: border-box;
  }


.header {
  background-color: #86b5a5;   
  
}


.main {
    border: 1px solid rgb(120, 120, 120);
    padding: 50px;
    background-color: #d1d1d1;    
}


.footer {
    background-color: #86b5a5 ;
    height: 100px;
}


.image {
  border-radius: 50%;
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.nav-list {
    list-style: none;
  }


.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: rgb(255, 254, 255);
}


.nav-link:hover {
    transition: .3s;
    text-decoration: underline;
    color: rgb(223, 223, 136);
    cursor: pointer;
  }


.main-container {
    display: flex;
    flex-wrap: wrap;
}

  
.section {
    width: 50%;
}


@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }


.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
    margin: 30px;
  }


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
 
 }


 .container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  color: white;
 }


.image {
  float: left;
  margin: 50px;
}


.footer-item {
  text-decoration: none;
  color: white;
}


.footer-item:hover{
  text-decoration: underline;
  color: rgb(223, 223, 136);;
}
